/* app.component.css */

header {
  background-color: rgb(57, 179, 212);
  padding: 10px 0;
  min-height: 50px;
  align-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin: 0;
}

a {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0;
  min-height: 457px;
}

footer {
  background-color: #7a7878;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  margin-top: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info p {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.footer-fixed {
  position: fixed;
}